{% load bootstrap3 %}
{% block content %}

    <ul>
        {% for blog in blogs %}
            <li>
                <a href="{% url 'aas:comments' blog.owner blog.id %}">{{ blog.text }}</a><br>
                {{ blog.owner }}

            </li>
        {% empty %}
            <div>Вы еще ничего не написали и не на кого не подписаны</div>
        {% endfor %}

    </ul>
        {% if form %}
        <form action="{% url 'aas:add_writer' user.username %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% bootstrap_icon "comment" %}&nbsp;&nbsp;Написать</button>
        {% endbuttons %}
        </form>
        {% endif %}
{% endblock %}