{% extends 'user.html' %}
{% load bootstrap3 %}
{% block head %}
    <title>{{ blog.owner.first_name }} {{ blog.owner.last_name }} пишет: {{ blog.text }}|Чирик</title>
{% endblock %}

{% block sideblock %}

{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'aas:user' blog.owner %}">{{ blog.owner }}</a>
            @{{ blog.owner }}*{{ blog.pub_date|timesince }}</div>
                <div class="panel-body">
                    {{ blog.text }}
                </div>
    </div>

    <h3>Комментарии</h3>
    {% for comment in comments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ comment.owner.username }}</b>
                {{ comment.pub_date|timesince }}<a href="#comment-{{ comment.id }}"> # </a>
                </div>
                <div class="panel-body">
                    {{ comment.content|safe }}
                </div>
        </div>
    {% endfor %}
    {% if form %}
        <form id="comment_form" action="{% url 'aas:add_comment' user.username blog.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">{% bootstrap_icon "comment" %}&nbsp;&nbsp;Комментировать</button>
            {% endbuttons %}
        </form>
    {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Комментарии</h3>
            </div>
            <div class="panel-body">
                Только авторизованные пользователи могут оставлять комментарии.<br />
            </div>
        </div>
    {% endif %}

{% endblock %}
