{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link href="{% static 'bootbootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    {% block head %}
    <title>Чирик</title>
    {% endblock %}
</head>
<body>


<div class="panel right"><h1><a href="{% url 'index' %}">Чирик</a></h1></div>

{% block content %}
    {% block page %}
        {% if user.is_authenticated %}
            {% include 'blog.html' %}
        {% endif %}

    {% endblock page %}
    {% block sideblock %}
        {% if user.is_authenticated %}
            Привет, {{ user.username }}<br>
            <a href="{% url 'aas:user' user.username %}"> Страница профиля</a><br>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <ul>
                <li><a href="{% url 'login' %}">Зайти на сайт</a></li>
                <li><a href="{% url 'reg' %}">Зарегестриоватся</a></li>
            </ul>
        {% endif %}
    {% endblock sideblock %}

{% endblock %}
    {% block right_sideblock %}
        <div>{% include 'friends.html' %}</div>
    {% endblock right_sideblock %}

</body>
</html>
