{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% block head %}
    <title>Чирик</title>
    {% endblock %}
</head>
<body>
<div class="header">
    <h1 align="right"><a href="{% url 'index' %}">Чирик</a></h1>
</div>
<div class="article">
<div class="block detail">
{% block sideblock %}

        {% if user.is_authenticated %}
            Привет, {{ user.username }}<br>
            <a href="{% url 'aas:user' user.username %}"> Страница профиля</a><br>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <ul>
                <li><a href="{% url 'login' %}">Зайти на сайт</a></li>
                <li><a href="{% url 'reg' %}">Зарегестриоватся</a></li>
            </ul>
        {% endif %}

{% endblock sideblock %}
 </div>
<div class="block content">
{% block content %}

        {% if user.is_authenticated %}
            {% include 'blog.html' %}
        {% endif %}

{% endblock %}
</div>
<div class="block list">
{% block right_sideblock %}
    {% include 'friends.html' %}
{% endblock right_sideblock %}
</div>
</div>
<footer>
    &copy; Чирик, Тестовый проект
</footer>

    </body>
</html>
